<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
        <li><%=name%></li>
        <li><%=lastName%></li>
        <li><%=age%></li>
    </ul>
  </body>
</html>
